*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*main*/

main{
  height: calc(100vh - 90px);
}

/* clearfix */

main::after{
  content: "";
  display: table;
  clear: both;
}

.nav-laterale, .music{
  float: left;
}


/* aside- barra laterale */

.nav-laterale{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* debug */
  background-color: blue;
  height: 100%;
  width: 250px;
}

.nav-laterale nav{
  /* debug */
  height: 100px;
  background-color: darkred;
}

.nav-laterale>div{
  /* debug */
  height: 100px;
  background-color: darkblue;
}

/* sezione centrale - selezione musica */

.music{
  width: calc(100% - 250px);
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  /* debug */
  background-color: pink;
  font-size: 40px;
}

.music>div:first-child{
  /* debug */
  height: 80px;
  background-color: lightblue;
}


/*  barra player */

.player{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  /* debug */
  background-color: green;
}

.player>div{
  /* debug */
  height: 80%;
  background-color: darkgreen;

}
