/* common */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2{
  color: #fff;
  margin-left: 10px;
}


h3{
  color: #fff;
}

h4{
  color: #fff;
}

ul{
  list-style: none;
}

a{
  color: #a3a3a3;
  text-decoration: none;
}

a:hover{
  color: #fff;
}


/* classi di supporto media queries */

@media all and (max-width: 768px) {

  .hidden-xs{
    display: none;
  }

}


/*main*/

main{
  height: calc(100vh - 80px);
}

/* clearfix */

main::after{
  content: "";
  display: table;
  clear: both;
}

.nav-laterale, .music{
  float: left;
}


/* aside- barra laterale */

.nav-laterale{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000;
  height: 100%;
  width: 250px;
}

.nav-laterale nav{
  flex-grow: 2;
  flex-shrink: 5;
  min-height: 320px;
  overflow-y: auto;
}

  /* parte superiore della barra di navigazione laterale*/

  /* menu di navigazione */

.nav-laterale nav>div:first-child{
  padding: 15px 10px;
}

.nav-laterale nav img[alt="logo"]{
  width: 150px;
}

.nav-laterale nav img[alt="logo small"]{
  display:none;
  width: 30px;
}

.nav-laterale nav li{
  padding: 5px 5px 5px 8px;
}

.menu li img{
  margin-right: 5px;
  width: 30px;
  vertical-align: middle;
}

.nav-laterale nav .menu li{
  border-left: 2px solid transparent;
}

.nav-laterale nav .menu li:hover{
  border-left: 2px solid #a2ef2e;
}

/* menu di navigazione playlist */

#nav-playlist{
  margin-top: 15px;
}

#nav-playlist li{
  padding-left: 10px;
}

#nav-playlist li:nth-child(2){
  margin: 6px 0;
}

#nav-playlist li:nth-child(2) div{
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background-color: #a3a3a3;
  color: #000;
  vertical-align: middle;
  margin-right: 10px;
}

  /* parte inferiore con menu di login */

#login{
  padding: 10px;
  overflow-y: hidden;
  flex-shrink: 1;
}

#login hr{
  border: 1px solid #a3a3a3;
  margin: 10px 0;
}

#login .wrapper{
  display: inline-block;
  padding: 5px;
  border-radius: 50%;
  text-align: center;
  background-color: #a3a3a3;
}

#login img[alt="download"]{
  width: 20px;
  vertical-align: middle;
}

#login img[alt="profile"]{
  width: 20px;
  vertical-align: middle;
}

#login a span{
  margin-left: 5px;
}

#login a:last-child:hover span{
  cursor: text;
  color: #a3a3a3;
}

  /* media queries per ridimensionare la barra, cambiare logo, riposizionare alcuni elementi e farne sparire altri */

@media all and (max-width: 768px){

  .nav-laterale{
    width: 50px;
  }

  .music{
    width: calc(100% - 50px);
  }

  .nav-laterale nav img[alt="logo small"]{
    display: block;
    width: 30px;
  }

  #login{
    text-align: center;
  }

  #login hr{
    display: none;
  }

  #login .wrapper{
    margin-top: 10px;
  }
}



/* sezione centrale - selezione musica */


.music{
  width: calc(100% - 250px);
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: #141922;
}

  /* media query per ridimensionare la parte centrale quando la barra laterale si riduce */

@media all and (max-width: 768px){

  .music{
    width: calc(100% - 50px);
  }

}
  /* barra col tasto upgrade */

#barra-upgrade{
  height: 50px;
  background-color: rgba(0, 0, 0, .6);
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  align-items: center;
}

#barra-upgrade a span{
  display: block;
  padding: 6px 35px;
  border: 1px solid #fff;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 20px;
}

#barra-upgrade a span:hover{
  transform: scale(1.05);
}


/* sezione con gallerie di album e playlist per selezionare la musica  */

#selezione{
  padding: 15px;
}

  /* lista di link per la navigazione posizionati in alto */

#selezione nav ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#selezione nav li{
  padding: 10px 20px;
  text-transform: uppercase;
}

#selezione nav li div{
  width: 40px;
  margin: 6px auto 0;
  border-bottom: 2px solid transparent;
}

#selezione nav li a:hover div{
  border-bottom: 2px solid #a2ef2e;
}

/* sezione centrale scelta musica con le gallerie di immagini */

#selezione .selezione-blocco{
  padding: 20px 0;
}

#selezione .selezione-blocco>span{
  display: inline-block;
  color: #a3a3a3;
  padding: 10px 10px 0;
}

#selezione .row{
  padding: 15px 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: baseline; /* baseline permette anche se il testo sotto l'immagine va su più righe le "card" rimangono allineate sull'asse verticale*/
}

#selezione .card:last-child{
  margin-right: auto;
}

#selezione .card{
  padding: 10px;
  width: calc(100% / 6);
  text-align: center;
}

#selezione .card img{
 width: 100%;
}

#selezione .card h4{
  color: #fff;
  font-weight: bold;
  margin: 5px 0;
}

#selezione .card a:hover{
  color:  #a3a3a3;
}

#selezione .card .img-wrapper{
 position: relative;
}

#selezione .card .fa-play-circle{
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 color: #fff;
 font-size: 40px;
 display: none;
}

#selezione .card .img-wrapper:hover .fa-play-circle{
  display: block;
}

#selezione .card .img-wrapper:hover img{
  filter: brightness(30%);
}

#selezione .selezione-blocco:last-child img{
  border-radius: 50%;
}

/* media queries per ridimensionare le immagini */

@media all and (max-width: 1300px) {

  #selezione .card{
    width: 25%;
  }

}

@media all and (max-width: 800px) {

  #selezione .card{
    width: 50%;
  }

}





/*  barra player */

#player{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  background-color: #282828;
}

/* blocchetto sinistra del player */

#player>div:first-child{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}

#player>div:first-child img{
  width: 50px;
}

#player>div:first-child .title{
  padding: 10px 25px 10px 10px;
  color: #a3a3a3;
}

#player>div:first-child .far{
  padding-right: 10px;
}

/* media query per mandare le icone in colonna  */

@media all and (max-width: 768px){

  #player>div:first-child .far{
    display: block;
    padding: 5px 0;
  }

}
